{% extends 'layout.html' %}

{% block content %}

{% load static %}

<!-- Hero Section -->
<header class="row bg-black">
  <div class="col-md-4">
    <img src="{% static 'PortafolioR/hero.png' %}" />
  </div>

  <div class="col-md-8 my-auto p-4">
    <h1>GRECIA<strong>Ryan Ray</strong></h1>
    <h3>HISTORIA DE GRECIA</h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsum iusto fugit non quidem esse sit, 
        delectus doloribus atque distinctio eos architecto neque ea asperiores quia aut ratione, odio recusandae possimus.
    </p>
    <a href="{% static 'PortafolioR/Fractal.pdf' %}" 
    class="btn btn-primary btn-lg rounded-0 my-3" >
    Download  CV</a>
  </div>
</header>

<!-- Porfolio Section -->
<div class="row my-4 text-center">

  <h3>My Project</h3>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis, aperiam?</p>

  {% for project in project %}
  <div class="col-md-4 p-5">
    <div class="card bg-black card-project">
      <img src="{{project.Imagen.url}}"  class="card-img-top" />

      <div class="card-body">

        <h2>{{project.Titulo}}</h2>
        <p>{{project.Descripcion}}</p>

        {% if project.Url %}
        <a href="{{project.Url}}" class="btn btn-light rounded-0 btn-sm" target="__blank" rel="noreferrer">Visit the
          Project</a>
        {% endif %}
      </div>
    </div>

  </div>
  {% endfor %}
 
</div> 

{% endblock %}
